<div class="container-fluid">
  <owl-carousel-o [options]="customOptions" class="row">

    <ng-template carouselSlide id="slide.1">
      <div class="card bg-body-secondary container1">
        <div class="h-btn-card"> 
          <div class="icon-container shadow-sm d-flex justify-content-center align-items-center  rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi text-color-w bi-bag-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z" />
            </svg>
            <div class="tooltipN tooltipWidth1 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to cart</p>
            </div>
          </div>
          <div class="icon-container shadow-sm  d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><a
              class="fa-solid fs-5 text-color-w fa-eye"></a>
            <div class="tooltipN tooltipWidth2 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Quick view</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w  fa-heart"></i>
            <div class="tooltipN tooltipWidth3 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to wishlist</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w fa-arrow-right-arrow-left"></i>
            <div class="tooltipN tooltipWidth4 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to compare</p>
            </div>
          </div>
        </div>

        <img src="../../assets/image/bag-1.png" class="card-img-top" alt="...">

        <div class="card-body bg-white">
          <h6 class="card-brand fw-normal"> <a>Bag</a></h6>
          <h5 class="card-title card-brand"><a>Bag number 20000</a></h5>
          <div class="rating-stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="text-decoration-line-through text-danger opacity-50 d-inline px-2">75.00 $</p>
          <p class="card-text fw-bold d-inline">50.00 $</p>
          <br>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide id="slide.2">
      <div class="card bg-body-secondary container1">
        <div class="h-btn-card"> 
          <div class="icon-container shadow-sm d-flex justify-content-center align-items-center  rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi text-color-w bi-bag-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z" />
            </svg>
            <div class="tooltipN tooltipWidth1 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to cart</p>
            </div>
          </div>
          <div class="icon-container shadow-sm  d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><a
              class="fa-solid fs-5 text-color-w fa-eye"></a>
            <div class="tooltipN tooltipWidth2 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Quick view</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w  fa-heart"></i>
            <div class="tooltipN tooltipWidth3 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to wishlist</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w fa-arrow-right-arrow-left"></i>
            <div class="tooltipN tooltipWidth4 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to compare</p>
            </div>
          </div>
        </div>

        <img src="../../assets/image/bag-1.png" class="card-img-top" alt="...">

        <div class="card-body bg-white">
          <h6 class="card-brand fw-normal"> <a>Bag</a></h6>
          <h5 class="card-title card-brand"><a>Bag number 20000</a></h5>
          <div class="rating-stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="text-decoration-line-through text-danger opacity-50 d-inline px-2">75.00 $</p>
          <p class="card-text fw-bold d-inline">50.00 $</p>
          <br>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide id="slide.3">
      <div class="card bg-body-secondary container1">
        <div class="h-btn-card"> 
          <div class="icon-container shadow-sm d-flex justify-content-center align-items-center  rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi text-color-w bi-bag-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z" />
            </svg>
            <div class="tooltipN tooltipWidth1 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to cart</p>
            </div>
          </div>
          <div class="icon-container shadow-sm  d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><a
              class="fa-solid fs-5 text-color-w fa-eye"></a>
            <div class="tooltipN tooltipWidth2 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Quick view</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w  fa-heart"></i>
            <div class="tooltipN tooltipWidth3 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to wishlist</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w fa-arrow-right-arrow-left"></i>
            <div class="tooltipN tooltipWidth4 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to compare</p>
            </div>
          </div>
        </div>

        <img src="../../assets/image/bag-1.png" class="card-img-top" alt="...">

        <div class="card-body bg-white">
          <h6 class="card-brand fw-normal"> <a>Bag</a></h6>
          <h5 class="card-title card-brand"><a>Bag number 20000</a></h5>
          <div class="rating-stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="text-decoration-line-through text-danger opacity-50 d-inline px-2">75.00 $</p>
          <p class="card-text fw-bold d-inline">50.00 $</p>
          <br>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide id="slide.4">
      <div class="card bg-body-secondary container1">
        <div class="h-btn-card"> 
          <div class="icon-container shadow-sm d-flex justify-content-center align-items-center  rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi text-color-w bi-bag-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z" />
            </svg>
            <div class="tooltipN tooltipWidth1 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to cart</p>
            </div>
          </div>
          <div class="icon-container shadow-sm  d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><a
              class="fa-solid fs-5 text-color-w fa-eye"></a>
            <div class="tooltipN tooltipWidth2 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Quick view</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w  fa-heart"></i>
            <div class="tooltipN tooltipWidth3 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to wishlist</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w fa-arrow-right-arrow-left"></i>
            <div class="tooltipN tooltipWidth4 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to compare</p>
            </div>
          </div>
        </div>

        <img src="../../assets/image/bag-1.png" class="card-img-top" alt="...">

        <div class="card-body bg-white">
          <h6 class="card-brand fw-normal"> <a>Bag</a></h6>
          <h5 class="card-title card-brand"><a>Bag number 20000</a></h5>
          <div class="rating-stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="text-decoration-line-through text-danger opacity-50 d-inline px-2">75.00 $</p>
          <p class="card-text fw-bold d-inline">50.00 $</p>
          <br>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide id="slide.5">
      <div class="card bg-body-secondary container1">
        <div class="h-btn-card"> 
          <div class="icon-container shadow-sm d-flex justify-content-center align-items-center  rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi text-color-w bi-bag-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z" />
            </svg>
            <div class="tooltipN tooltipWidth1 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to cart</p>
            </div>
          </div>
          <div class="icon-container shadow-sm  d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><a
              class="fa-solid fs-5 text-color-w fa-eye"></a>
            <div class="tooltipN tooltipWidth2 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Quick view</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w  fa-heart"></i>
            <div class="tooltipN tooltipWidth3 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to wishlist</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w fa-arrow-right-arrow-left"></i>
            <div class="tooltipN tooltipWidth4 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to compare</p>
            </div>
          </div>
        </div>

        <img src="../../assets/image/bag-1.png" class="card-img-top" alt="...">

        <div class="card-body bg-white">
          <h6 class="card-brand fw-normal"> <a>Bag</a></h6>
          <h5 class="card-title card-brand"><a>Bag number 20000</a></h5>
          <div class="rating-stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="text-decoration-line-through text-danger opacity-50 d-inline px-2">75.00 $</p>
          <p class="card-text fw-bold d-inline">50.00 $</p>
          <br>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide id="slide.6">
      <div class="card bg-body-secondary container1">
        <div class="h-btn-card"> 
          <div class="icon-container shadow-sm d-flex justify-content-center align-items-center  rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi text-color-w bi-bag-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z" />
            </svg>
            <div class="tooltipN tooltipWidth1 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to cart</p>
            </div>
          </div>
          <div class="icon-container shadow-sm  d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><a
              class="fa-solid fs-5 text-color-w fa-eye"></a>
            <div class="tooltipN tooltipWidth2 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Quick view</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w  fa-heart"></i>
            <div class="tooltipN tooltipWidth3 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to wishlist</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w fa-arrow-right-arrow-left"></i>
            <div class="tooltipN tooltipWidth4 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to compare</p>
            </div>
          </div>
        </div>

        <img src="../../assets/image/bag-1.png" class="card-img-top" alt="...">

        <div class="card-body bg-white">
          <h6 class="card-brand fw-normal"> <a>Bag</a></h6>
          <h5 class="card-title card-brand"><a>Bag number 20000</a></h5>
          <div class="rating-stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="text-decoration-line-through text-danger opacity-50 d-inline px-2">75.00 $</p>
          <p class="card-text fw-bold d-inline">50.00 $</p>
          <br>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide id="slide.7">
      <div class="card bg-body-secondary container1">
        <div class="h-btn-card"> 
          <div class="icon-container shadow-sm d-flex justify-content-center align-items-center  rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi text-color-w bi-bag-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z" />
            </svg>
            <div class="tooltipN tooltipWidth1 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to cart</p>
            </div>
          </div>
          <div class="icon-container shadow-sm  d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><a
              class="fa-solid fs-5 text-color-w fa-eye"></a>
            <div class="tooltipN tooltipWidth2 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Quick view</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3"
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w  fa-heart"></i>
            <div class="tooltipN tooltipWidth3 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to wishlist</p>
            </div>
          </div>
          <div class="icon-container shadow-sm   d-flex justify-content-center align-items-center    rounded-5 m-3 "
            (mouseenter)="tooltipanimationin($event)" (mouseleave)="tooltipanimationout($event)"><i
              class="fa-solid fs-5 text-color-w fa-arrow-right-arrow-left"></i>
            <div class="tooltipN tooltipWidth4 rounded-2 d-flex justify-content-center align-middle"><span
                class="tooltipNarrow"></span>
              <p class="text-white ">Add to compare</p>
            </div>
          </div>
        </div>

        <img src="../../assets/image/bag-1.png" class="card-img-top" alt="...">

        <div class="card-body bg-white">
          <h6 class="card-brand fw-normal"> <a>Bag</a></h6>
          <h5 class="card-title card-brand"><a>Bag number 20000</a></h5>
          <div class="rating-stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="text-decoration-line-through text-danger opacity-50 d-inline px-2">75.00 $</p>
          <p class="card-text fw-bold d-inline">50.00 $</p>
          <br>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>


</div>